<%!
    from reddit_liveupdate.contrib.iso3166 import countries
%>
<%namespace file="utils.html" import="text_with_links"/>

<style>
label {
  font-weight: 700;
  display: inline-block;
  padding: 7px 0 7px 10px;
}

.happening-now-form > p, .happening-now {
  margin: 0 0 1.2em 0;
}

.happening-now-form th {
  text-align: left;
  font-weight: normal;
  padding-right: 2em;
}

input[type="submit"].submit-btn {
  padding: 5px 10px;
  background-color: rgb(0, 121, 211);
  color: #fff;
  border-radius: 4px;
  margin-left: 10px;
}
</style>

<div class="happening-now-form md-container" style="width: 500px;">
<h1>${_("announcements: happening now")}</h1>

%if thing.featured_event:
<p><b>The following announcement is currently featured on the front page for
users from ${countries[thing.target].apolitical_name}:</b></p>

${thing.featured_event}

<form action="/admin/announcements" method="POST">
  <input type="hidden" name="uh" value="${c.modhash}">
  <input type="hidden" name="url" value="">
  <input type="submit" value="un-feature thread">
</form>
%else:
<p><b>No announcements threads are currently featured on the front page.</b>&#32;To
feature a thread, enter its full URL in the form below and select a locale to
limit the banner to.</p>

<form action="/admin/announcements" method="POST">
  <input type="hidden" name="uh" value="${c.modhash}">
  <table>
    <tr>
      <th scope="row"><label for="url">URL</label></th>
      <td><input type="url" id="url" name="url" size="40" placeholder="e.g. https://${g.domain}/live/z2j36p70xdrf"></td>
    </tr>
    <tr>
      <th scope="row"><label for="target">Target</label></th>
      <td>
        <select id="target" name="target">
          %for country in countries:
          <option value="${country.alpha2}">${country.apolitical_name}</option>
          %endfor
        </select>
      </td>
    </tr>
    <tr>
      <th scope="row"><label for="logged_in">Logged In</label></th>
      <td>
        <input type="checkbox" id="logged_in" name="logged_in" />
      </td>
    </tr>
    <tr>
      <th scope="row"><label for="logged_out">Logged Out</label></th>
      <td>
        <input type="checkbox" id="logged_out" name="logged_out" />
      </td>
    </tr>
    <tr>
      <th scope="row"><label for="mod_only">Mod Only</label></th>
      <td>
        <input type="checkbox" id="mod_only" name="mod_only" />
      </td>
    </tr>
    <tr>
      <th scope="row"><label for="gold_only">Gold Only</label></th>
      <td>
        <input type="checkbox" id="gold_only" name="gold_only" />
      </td>
    </tr>
    <tr>
      <th scope="row"><label for="redesign_opt_in">Redesign Opt In</label></th>
      <td>
        <input type="checkbox" id="redesign_opt_in" name="redesign_opt_in" />
      </td>
    </tr>
    <tr>
      <th scope="row"><label for="sr_blacklist">Blacklisted Subredits</label></th>
      <td>
        <input id="sr_blacklist" name="sr_blacklist" />
      </td>
    </tr>
    <tr>
      <th scope="row"><label for="sr_whitelist">Whitelisted Subredits</label></th>
      <td>
        <input id="sr_whitelist" name="sr_whitelist" />
      </td>
    </tr>
    <tr>
      <th scope="row"><label for="user_whitelist">Whitelisted User Names</label></th>
      <td>
        <input id="user_whitelist" name="user_whitelist" />
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <input class="submit-btn" type="submit" value="feature thread">
      </td>
    </tr>
  </table>
</form>
%endif
</div>
