<%namespace file="utils.html" import="text_with_links"/>

<style>
.happening-now-form > p, .happening-now {
  margin: 0 0 1.2em 0;
}
</style>

<div class="happening-now-form md-container" style="width: 500px;">
<h1>${_("reddit live: happening now")}</h1>

%if thing.current_thread:
<p><b>The following live thread is currently featured on the front page:</b></p>

${thing.bar}

<form action="/admin/happening-now" method="POST">
  <input type="hidden" name="uh" value="${c.modhash}">
  <input type="hidden" name="url" value="">
  <input type="submit" value="un-feature thread">
</form>
%else:
<p><b>No live threads are currently featured on the front page.</b>&#32;To feature a thread, enter its full URL in the form below.</p>

<form action="/admin/happening-now" method="POST">
  <input type="hidden" name="uh" value="${c.modhash}">
  <input type="url" name="url" size="40" placeholder="e.g. https://${g.domain}/live/z2j36p70xdrf">
  <input type="submit" value="feature thread">
</form>
%endif
</div>
