<%namespace file="utils.html" name="utils" />

<div class="liveupdate-event">
  <div class="title">
    <a href="/live/${thing._id}">${thing.title}</a>
  </div>
  <div class="tagline">
    <%block name="tagline">
    % if thing.state == "live":
      <span class="state">${_("live")}</span>
    % endif

    % if thing.nsfw:
      <span class="nsfw-stamp">
        ${utils.nsfw_stamp()}
      </span>
    % endif

    % if thing.state == "live":
      <span class="viewers">${ungettext('%(num)s viewer', '%(num)s viewers', thing.active_visitors) % dict(num=thing.active_visitors)}</span>
    % endif

    ${utils.thing_timestamp(thing, live=True, include_tense=True)}

    % if c.user_is_admin:
      <div class="admin-buttons">
      % if thing.banned:
        <button class="admin unban" data-threadid="${thing._id}" data-action="approve">${_("unban")}</button>
        <span class="viewers already-reported">${_("banned by: %(user)s") % dict(user=thing.banned_by)}</p>
      % else:
        <button class="admin" data-threadid="${thing._id}" data-action="ban">${_("ban")}</button>
      % endif
      </div>
    % endif
    </%block>
  </div>
</div>
