<%namespace name="utils" file="utils.html"/>
<%namespace name="liveupdate_utils" file="liveupdateutils.html" />

<%liveupdate_utils:configuration_form endpoint="live/${c.liveupdate_event._id}/edit" thing="${c.liveupdate_event}" />

% if c.liveupdate_permissions.allow("close"):
<%utils:line_field title="${_('close the stream')}" css_class="danger-zone">
  <p>${_("this will mark the stream as complete and prevent further updates from being added. it cannot be undone.")}</p>
  <button class="btn" type="button" onclick="">
    ${_("close stream permanently")}
  </button>
</%utils:line_field>

<script>
$(function() {
  var $el = $('.danger-zone button');
  var confirmer = new r.ui.ConfirmButton({el: $el});
  $el.on('confirm', function() {
    $.request('live/${c.liveupdate_event._id}/close_stream')
  });
})
</script>
% endif
