<%!
   from r2.lib.pages import UserText
%>
<%namespace name="utils" file="utils.html"/>

<%def name="nextprev(listing)">
% if listing.nextprev and (listing.prev or listing.next):
<nav class="nextprev">
  ${_("view more:")}&#32;
  %if listing.prev:
    <a href="${listing.prev}" rel="nofollow prev">&lsaquo; ${_("prev")}</a>
  %endif
  %if listing.prev and listing.next:
    <span class="separator"></span>
  %endif
  %if listing.next:
    <a href="${listing.next}" rel="nofollow next">${_("next")} &rsaquo;</a>
  %endif
</nav>
% endif
</%def>

<%def name="configuration_form(endpoint, thing=None)">
<div id="liveupdate-form" class="pretty-form">
  <%utils:line_field title="${_('title')}">
    <input type="text" name="title" id="title" class="text" value="${getattr(thing, 'title', '')}">
    ${utils.error_field("NO_TEXT", "title")}
    ${utils.error_field("TOO_LONG", "title")}
  </%utils:line_field>

  <%utils:line_field title="${_('description')}" description="${_('information and resources that are useful at any point')}">
    ${UserText(None, text=getattr(thing, 'description', ''), editable=True, creating=True, name="description", have_form=False)}
    ${utils.error_field("TOO_LONG", "description")}
  </%utils:line_field>

  ${caller.body()}

  <div class="save-button">
    <button class="btn" type="button" onclick="return post_pseudo_form('#liveupdate-form', '${endpoint}')">
      ${_("save settings")}
    </button>
    &#32;
    <span class="status error"></span>
  </div>
</div>
</%def>
