<%namespace file="utils.html" name="utils" />

<div class="liveupdate-event">
  <div class="title">
    <a href="/live/${thing._id}">${thing.title}</a>
  </div>
  <div class="tagline">
    % if thing.state == "live":
      <span class="state">${_("live")}</span>
    % endif

    % if thing.nsfw:
      <span class="nsfw-stamp">
        ${utils.nsfw_stamp()}
      </span>
    % endif

    <span class="viewers">${ungettext('%(num)s viewer', '%(num)s viewers', thing.active_visitors) % dict(num=thing.active_visitors)}</span>

    % if c.user_is_admin and thing.banned:
    <span class="banned">${_("banned")}</span>
    % endif

    ${utils.thing_timestamp(thing, live=True, include_tense=True)}
  </div>
</div>
