<%!

  from r2.lib.template_helpers import html_datetime

%>

<%def name="live_timestamp(thing)">
  <time class="live" datetime="${html_datetime(thing.current_time)}">${thing.current_time_str}</time>
</%def>

%if thing.things:
<div class="liveupdate-listing">
<table>
  <tbody>
    % if not thing.prev:
    <tr class="initial">
      <td colspan="2">
        % if c.liveupdate_event.state == "complete":
        ${unsafe(_("no further updates &mdash; event is over"))}
        % else:
        ${unsafe(_("as of&#32;%(when)s" % dict(when=capture(live_timestamp, thing))))}
        % endif
      </td>
    </tr>
    % endif

    % for item in thing.things_with_separators():
    ${item}
    % endfor

    % if not thing.next:
    <tr class="final">
      <th>
        <time datetime="${html_datetime(thing.things[-1]._date)}">${thing.things[-1].date_str}</time>
      </th>
      <td>${_("started live updates")}</td>
    </tr>
    % endif
  </tbody>
</table>

% if thing.nextprev and (thing.prev or thing.next):
<nav class="nextprev">
  ${_("view more:")}&#32;
  %if thing.prev:
    <a href="${thing.prev}" rel="nofollow prev">&lsaquo; ${_("prev")}</a>
  %endif
  %if thing.prev and thing.next:
    <span class="separator"></span>
  %endif
  %if thing.next:
    <a href="${thing.next}" rel="nofollow next">${_("next")} &rsaquo;</a>
  %endif
  </span>
</nav>
% endif
</div>
% else:
<p id="noresults" class="error">${_("there doesn't seem to be anything here")}</p>
% endif
