<%!

  import json
  from r2.lib.template_helpers import html_datetime
  from babel.dates import format_datetime

%>

<%namespace file="utils.html" name="utils" />
<%namespace file="printablebuttons.html" import="ynbutton" />

<li data-fullname="${thing._fullname}" class="liveupdate id-${thing._fullname} ${"stricken" if thing.stricken else ""} ${"pending-embed" if thing.embeds else ""}">
  <time title="${format_datetime(thing._date, format='long', tzinfo=c.liveupdate_event.timezone, locale=c.locale)}" datetime="${html_datetime(thing._date)}" class="live-timestamp">${thing.date_str}</time>

  <div class="body">
    ${utils.md(thing.body, wrap=True)}
    ${thing.author}
  </div>
</li>
