<%namespace file="userlisting.html" import="add_form, listing"/>
<%namespace file="utils.html" import="error_field"/>

<div class="${thing._class} usertable">
  % if thing.addable and thing.has_add_form:
    <%call expr="add_form(thing.form_title, thing.destination, thing.type, thing.container_name, permissions_form=thing.permissions_form, verb=_('invite'))">
      ${error_field("LIVEUPDATE_ALREADY_CONTRIBUTOR", "name")}
      ${error_field("LIVEUPDATE_TOO_MANY_INVITES", "name")}
    </%call>
  % endif

  ${listing()}
</div>
