<%!

  import json
  from r2.lib.template_helpers import html_datetime
  from babel.dates import format_datetime

%>

<%namespace file="utils.html" name="utils" />
<%namespace file="printablebuttons.html" import="ynbutton" />

<tr data-fullname="${thing._fullname}" data-embeds="${json.dumps(thing.embeds)}" class="thing id-${thing._fullname} ${"stricken" if thing.stricken else ""} ${"pending-embed" if thing.embeds else ""}">
  <th scope="row">
    <time title="${format_datetime(thing._date, format='long', tzinfo=c.liveupdate_event.timezone, locale=c.locale)}" datetime="${html_datetime(thing._date)}" class="live">${thing.date_str}</time>
  </th>

  <td class="md">
    ${utils.md(thing.body)}
    ${thing.author}
  </td>
</tr>
