<%!
   from r2.lib.pages import UserText
%>
<%namespace name="utils" file="utils.html"/>
<%namespace name="liveupdate_utils" file="liveupdateutils.html" />

% if c.liveupdate_permissions.allow("settings"):
<%liveupdate_utils:configuration_form button_name="${_('save settings')}" endpoint="live/${c.liveupdate_event._id}/edit" thing="${c.liveupdate_event}">
  <%utils:line_field title="${_('resources')}" description="${_('information and links that are useful at any point')}">
    ${UserText(None, text=getattr(c.liveupdate_event, 'resources', ''), editable=True, creating=True, name="resources", have_form=False)}
  </%utils:line_field>

  <%utils:line_field title="${_('other options')}">
    <label>
      <input type="checkbox" name="nsfw"
      % if c.liveupdate_event.nsfw:
        checked
      % endif
        >

      ${_("viewers must be over eighteen years old")}
    </label>
  </%utils:line_field>
</%liveupdate_utils:configuration_form>
% endif

% if c.liveupdate_permissions.allow("close"):
<%utils:line_field title="${_('close the live thread')}" css_class="danger-zone">
  <p>${_("this will mark the thread as complete and prevent further updates from being added. it cannot be undone.")}</p>
  <button class="btn" type="button" onclick="">
    ${_("close thread permanently")}
  </button>
</%utils:line_field>

<script>
$(function() {
  var $el = $('.danger-zone button');
  var confirmer = new r.ui.ConfirmButton({el: $el});
  $el.on('confirm', function() {
    $.request('live/${c.liveupdate_event._id}/close_thread')
  });
})
</script>
% endif
