<%!
  from r2.lib.pages import UserText

  REPORTER_CUTOFF = 3
%>

<%namespace name="utils" file="utils.html" />

<header>
<div>
<h1 id="liveupdate-title">${thing.event.title}</h1>
</div>

% if thing.event.state == "live":
<div class="status-bar">
    <p class="state live">${_("live")}</p>
    <p id="visitor-count"><span class="count">${thing.visitor_count}</span>&nbsp;${_("viewers")}</p>
</div>
% endif
</header>

% if c.liveupdate_permissions.allow("update"):
<div id="new-update-form" class="prettyform">
  ${UserText(None, text="", editable=True, creating=True, name="body", have_form=False)}

  <div class="save-button">
    <button class="btn" type="button" onclick="return post_pseudo_form('#new-update-form', 'live/${c.liveupdate_event._id}/update')">
      ${_("make update")}
    </button>
    &#32;
    <span class="status error"></span>
  </div>
</div>
% endif

<div class="main-content">
% if thing.show_sidebar:
<aside class="sidebar">
  % if thing.event.description:
  <section class="md">
    ${utils.md(thing.event.description)}
  </section>
  % endif
  <section id="discussions">
    <h1>${_("discussions")}</h1>
    ${thing.discussions}
  </section>
  <section id="reporters">
    <h1>${_("reported by")}</h1>

    <ul>
      % for reporter in thing.reporters[:REPORTER_CUTOFF]:
      <li>${reporter}</li>
      % endfor
    </ul>

    % if len(thing.reporters) > REPORTER_CUTOFF:
    <a href="/live/${c.liveupdate_event._id}/reporters" class="more-reporters">${unsafe(_("&hellip; and %(count)s more &raquo;") % dict(count=len(thing.reporters) - REPORTER_CUTOFF))}</a>
    % endif
  </section>

</aside>
% endif

${thing.listing}

</div>
