<%!
  from r2.lib.pages import UserText

  CONTRIBUTOR_CUTOFF = 3
%>

<%namespace name="utils" file="utils.html" />

<header id="liveupdate-header">
  <h1 id="liveupdate-title">${thing.event.title}</h1>
  % if thing.event.description:
  <div id="liveupdate-description" class="md-container">
    ${utils.md(thing.event.description, wrap=True)}
  </div>
  % endif

  <div id="liveupdate-statusbar" class="${thing.event.state}">
    <p class="state">
    % if thing.event.state == "complete":
      ${_("no further updates")}
    % else:
      ${_("disconnected")}
    % endif
    </p>
  </div>
</header>

% if c.liveupdate_permissions.allow("update"):
<div id="new-update-form" class="prettyform">
  ${UserText(None, text="", editable=True, creating=True, name="body", have_form=False, show_embed_help=True)}

  <div class="save-button">
    <button class="btn" type="button" onclick="return post_pseudo_form('#new-update-form', 'live/${c.liveupdate_event._id}/update')">
      ${_("make update")}
    </button>
    &#32;
    <span class="status error"></span>
  </div>
</div>
% endif

<div class="main-content">
% if thing.show_sidebar:
<aside class="sidebar side md-container">
  <a class="sidebar-expand" href="javascript: void 0;" data-toggle="${_("less about this live thread")}">${_("more about this live thread")}</a>
  % if thing.event.resources:
  <section id="liveupdate-resources">
    <h2>${_("resources")}</h2>
    ${utils.md(thing.event.resources, wrap=True)}
  </section>
  % endif
  <section id="discussions" title="${_("comment threads on reddit linking to this page")}">
    <h2>${_("discussions")}</h2>
    ${thing.discussions}
  </section>
  <section id="contributors">
    <h2>${_("updated by")}</h2>

    <ul>
      % for contributor in thing.contributors[:CONTRIBUTOR_CUTOFF]:
      <li>${contributor}</li>
      % endfor
    </ul>

    % if len(thing.contributors) > CONTRIBUTOR_CUTOFF:
    <a href="/live/${c.liveupdate_event._id}/contributors" class="more-contributors">${_("… and %(count)s more ⇒") % dict(count=len(thing.contributors) - CONTRIBUTOR_CUTOFF)}</a>
    % endif
  </section>

  % if c.user_is_loggedin:
    <section id="report">
    % if c.user_is_admin:
      % if thing.event.banned:
        <button class="admin unban" data-action="approve">${_("unban")}</button>
        <p class="already-reported">${_("banned by: %(user)s") % dict(user=thing.event.banned_by)}</p>
      % else:
        <button class="admin" data-action="ban">${_("ban")}</button>
      % endif
    % elif not thing.report_type:
      <button class="report-button"><span>${_("report a rule violation")}</span></button>

      <form>
        ${utils.text_with_links(_("uh oh! how does this live thread break %(reddits_rules)s?"),
          reddits_rules=dict(link_text=_("reddit's rules"), path="/rules", target="_blank"))}

        <ol>
          % for key, description in thing.report_types.iteritems():
          <li><label><input type="radio" name="violated-rule" class="report-type" value="${key}">${_(description)}</label></li>
          % endfor
        </ol>

        <button type="submit" disabled>${_("report")}</button>
        <button class="cancel">${_("oops, never mind")}</button>
      </form>
    % else:
      <p class="already-reported">${_("you reported this live thread for: %(violation)s") % dict(violation=_(thing.report_types[thing.report_type]))}</p>
    % endif
    </section>
  % endif
</aside>
% endif

${thing.listing}

</div>
